[data-easy-reveal]
  transition: opacity 1.2s ease-in-out, transform .8s ease-in-out .3s

.fade-in-up
  opacity: 1 !important
  transform: translateY(-10px)

.fade-in-down
  opacity: 1 !important
  transform: translateY(10px)

.fade-in-left
  opacity: 1 !important
  transform: translateX(-10px)

.fade-in-right
  opacity: 1 !important
  transform: translateX(10px)

.fade-in-rotate-x
  opacity: 1 !important
  transform: rotateX(360deg)

.fade-in-rotate-y
  opacity: 1 !important
  transform: rotateY(360deg)
